<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary "><i class="fa fa-plus-circle" >&nbsp;</i> Add Contact</p>
            <p class="fst-italic mt-1"> This is Dummy Content: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Porro sunt dignissimos, autem tempora corrupti est distinctio quaerat maxime non aut natus qui dicta,
                quia eligendi. Itaque assumenda in incidunt ad expedita mollitia consequatur blanditiis, quis molestias
                illum, deleniti distinctio quae architecto. Laudantium earum deleniti dolor </p>
        </div>
    </div>
</div>

<!-- Contact Form -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo url">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email id">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Mobile No">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value=""> Select a Group </option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-success" value="Create">
                    <a routerLink="/" class="btn btn-warning ms-2"> Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"
                alt="" class="contact-img">
        </div>
    </div>
</div>