<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary "><i class="fa fa-eye">&nbsp;</i> View Contact</p>
            <p class="fst-italic mt-1"> This is Dummy Content: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Porro sunt dignissimos, autem tempora corrupti est distinctio quaerat maxime non aut natus qui dicta,
                quia eligendi. Itaque assumenda in incidunt ad expedita mollitia consequatur blanditiis, quis molestias
                illum, deleniti distinctio quae architecto. Laudantium earum deleniti dolor </p>
        </div>
    </div>
</div>

<!-- View Contact details -->
<div class="container">
    <div class="row align-items-center">
       <div class="col-sm-4" >
            <img src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png"
            alt="" class="contact-img-details" alt="user">
       </div> 
       <div class="col-sm-6" >
        <ul class="list-group" >
            <li class="list-group-item list-group-item-success" >Name: <span class="fw-bold" >Rahman Dev</span> </li>
            <li class="list-group-item list-group-item-success" >Email: <span class="fw-bold" >rahman@gmail.com</span> </li>
            <li class="list-group-item list-group-item-success" >Mobile: <span class="fw-bold" >6663299325</span> </li>
            <li class="list-group-item list-group-item-success" >Company: <span class="fw-bold" >Value Edge Pvt</span> </li>
            <li class="list-group-item list-group-item-success" >Title: <span class="fw-bold" >title</span> </li>
            <li class="list-group-item list-group-item-success" >Group Name: <span class="fw-bold" >Family</span> </li>
        </ul>
       </div>
    </div>
    <div class="row mt-2" >
        <div class="col" >
            <a routerLink="/" class="btn btn-warning"><i class="fa fa-arrow-left" >&nbsp;</i> Go Back</a>
        </div>
    </div>
</div>

